html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.controls{
  background-color: black;
}
.photo{
  margin-bottom: 10px
}
html {
  font-size: 10px;
  background: #ffc600;
}
